@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    /* for scroll */
    font-family: 'Nunito', 'Nunito Fallback';
    background-color: #EEE;
    overscroll-behavior: none;
    overflow-y: hidden;
    /* initially locked for animation */
}

.layout {
    display: flex;
}

.spacer {
    flex: 1;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

#ball {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 60px;
    height: 60px;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    position: fixed;
}

/* Footer Styles */
.footer {
    position: relative;
    display: flex;
    align-items: center;
}

.fContainer {
    /* position: absolute; */
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    /* bottom: 0px; */
}

.footerInner {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.32);
    -webkit-backdrop-filter: blur(6.3px);
}

.bottomLine {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footerTag {
    position: absolute;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #111;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    display: inline-flex;
    margin: 5px;
    /* width: max-content; */
    cursor: pointer;
}

a:hover {
    border-bottom: 1px solid #111;
}

.svg {
    width: 30px;
    height: 30px;
}

.footer-columns {
    position: relative;
    margin: 5px;
}

.footer-column {
    width: 200px;
}

.company-logo {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.footer-text {
    font-size: 14px;
    color: #111;
}


@media only screen and (max-width: 1000px) {
    .footer-column {
        width: 150px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-column {
        width: 120px;
    }
}

@media screen and (max-width: 550px) {
    .fContainer {
        padding: 0 0.2rem;
    }

    .footerInner {
        padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    }

    .footer-column {
        width: 70px;
    }

    .footer-column ul li a {
        font-size: 10px;
        margin: 0px;
    }

    .platforms {
        margin: 5px;
    }

    .company-logo {
        width: 30px;
        height: 30px;
    }

    .footer-text {
        font-size: 12px;
    }
}