<div class="content">
    <div class="datepicker">
        <app-icon name="calendar"></app-icon>
        <input #date [attr.type]="value.type" [attr.min]="minValue" [attr.max]="maxValue" class="d-input"
            [value]="inputValue" (change)="notify($event)" />
    </div>
    <div style="display: block">
        <span class="title" *ngIf="value.value">{{title}}</span>
        <div class="holder" *ngIf="value.value">{{valueText}}</div>
        <div class="holder" *ngIf="!value.value">{{title}}</div>
    </div>
</div>