@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --bg: #EEE;
    --form-bg: #f7f7f7;
    --btn-hover-bg: #45a29e;
    --footer-bg: #f5f5f5;
    --toggle-bg: rgba(15, 15, 15, 0.35);
    --primary: #45a29e;
    --accent: #0097a7;
    --text: #1b1b1b;
    --btn-text: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    /* for scroll */
    font-family: 'Nunito', 'Nunito Fallback';
    background-color: var(--bg);
    color: var(--text);
    /* overscroll-behavior: none; */
    /* overflow-y: hidden; */
    /* initially locked for animation */
}

.layout {
    display: flex;
}

.spacer {
    flex: 1;
}

body.light {
    --bg: #EEE;
    --form-bg: #f7f7f7;
    --btn-hover-bg: #45a29e;
    --footer-bg: #f5f5f5;
    --toggle-bg: rgba(15, 15, 15, 0.35);
    --primary: #45a29e;
    --accent: #0097a7;
    --text: #1b1b1b;
    --btn-text: #ffffff;
}

body.dark {
    --bg: #151515;
    --form-bg: #262626;
    --btn-hover-bg: #66fcf1;
    --footer-bg: #0b0c10;
    --toggle-bg: rgba(150, 94, 94, 0.543);
    --primary: #45a29e;
    --accent: #00fff5;
    --text: #c5c6c7;
    --btn-text: #ffffff;
}

#ball {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 60px;
    height: 60px;
    will-change: transform;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    color: var(--accent);
    transition: transform 0.3s;
}

#theme-toggle:hover {
    background: var(--toggle-bg);
    transform: scale(1.2);
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background 0.5s, color 0.5s;
}

.section h1,
.section h2 {
    color: var(--primary);
    margin-bottom: 20px;
}

.section p {
  margin-bottom: 40px;
}

.contact-form {
    max-width: 500px;
    padding: 30px;
    background-color: var(--form-bg);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    color: var(--text);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    text-align: start;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
    background-color: var(--btn-hover-bg);
    color: var(--bg);
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
}

.fContainer {
    /* position: absolute; */
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    /* bottom: 0px; */
}

.footerInner {
    padding: 1rem;
    background: var(--footer-bg);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid var(--footer-bg);
    -webkit-backdrop-filter: blur(6.3px);
}

.bottomLine {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footerTag {
    position: absolute;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; 
    color: var(--text);
}

li a {
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    display: inline-flex;
    margin: 5px;
    /* width: max-content; */
    cursor: pointer;
}

li a:hover {
    border-bottom: 1px solid var(--text);
}

.svg {
    width: 30px;
    height: 30px;
    color: var(--text);
}

.svg path {
    fill: currentColor;
}

.footer-columns {
    position: relative;
    margin: 5px;
}

.footer-column {
    width: 200px;
}

.company-logo {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1px 3px 3px 1px;
}

.footer-text {
    font-size: 14px;
    color: var(--text);
}


@media only screen and (max-width: 1000px) {
    .footer-column {
        width: 150px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-column {
        width: 120px;
    }
}

@media screen and (max-width: 550px) {
    .fContainer {
        padding: 0 0.2rem;
    }

    .footerInner {
        padding: 0.3rem 0.3rem 0.1rem 0.3rem;
    }

    .footer-column {
        width: 70px;
    }

    .footer-column ul li a {
        font-size: 10px;
        margin: 0px;
    }

    .platforms {
        margin: 5px;
    }

    .company-logo {
        width: 30px;
        height: 30px;
    }

    .footer-text {
        font-size: 12px;
    }
}