<div id="google-signin-button"></div>

@if (user !== null) {
  <app-image 
    [size]="45" 
    [id]="user!.dp" 
    [icon]="Icon.PERSON" 
    (click)="isDialogOn = true" 
    alt="{{ user!.name }}-display-picture">
  </app-image>
}

<ng-template #dialogContent>
  @if (user !== null) {
    <div style="position: relative; width: 300px; height: 300px" (click)="isDialogOn = false">
      <div class="center" style="flex-direction: column;">
        <div class="center" style="margin-bottom: 25px;">
          <app-image 
            [size]="150" 
            [id]="user!.dp" 
            [icon]="Icon.PERSON" 
            [alt]="'{{ user!.name }}-display-picture'">
          </app-image>
        </div>
        <div class="center title"> {{ user!.name }} </div>
        <div class="center sub"> {{ user!.email }} </div>
      </div>
    </div>
  }
</ng-template>

@if (user !== null && isDialogOn) {
  <app-dialog [content]="dialogContent"></app-dialog>
}
