<div id="google-signin-button"></div>

<app-image *ngIf="user !== null" [size]="45" [id]="user!.dp" icon="person" (click)="isDialogOn = true" alt="{{user!.name}}-display-picture"></app-image>

<ng-template #dialogContent>
    <div style="position: relative; width: 300px; height: 300px" *ngIf="user !== null" (click)="isDialogOn=false">
        <div class="center" style="flex-direction: column;">
            <div class="center" style="margin-bottom: 25px;">
                <app-image [size]="150" [id]="user!.dp" icon="person" alt="{{user!.name}}-display-picture"></app-image>
            </div>
            <div class="center title"> {{user!.name}} </div>
            <div class="center sub"> {{user!.email}} </div>
        </div>
    </div>
</ng-template>
<app-dialog [content]="dialogContent" *ngIf="user!==null && isDialogOn"></app-dialog>
