:root {
    --light: #FFF;
    --dark: #000;
}

body {
    /* background-color: #fffaf6; */
    background-color: #EEE;
    /* font-family: "Nunito", sans-serif; */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}  

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout {
    display: flex;
}

.spacer {
    flex: 1;
}

.centerize {
    align-items: center;
    justify-content: center;
} 