:root[theme=dark] {
  --mild-bg: #656565;
  --bg: #22222c;
  --primary: rgba(230, 230, 230, 0.75);
  --danger: #F00;
  --less-dark: #d5d5d5;
  --dark: #EEE;
  --less-bright: #393939;
  --bright: #000;
}