.content {
    position: relative;
    display: flex;
    height: fit-content;
    margin-bottom: 5px;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

.item.selected {
    background-color: var(--primary);
    color: var(--bright);
    cursor: default;
}

.item {
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
    width: fit-content;
    background-color: var(--bright);
    justify-content: center;
    border: 1px solid var(--less-bright);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {

    .content {
      width: 70vw;
    }
  }