name: Test Web Interface

on:
  workflow_call:

defaults:
  run:
    working-directory: app/web-interface

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.12.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Chrome
        run: |
          sudo apt-get update -y
          sudo apt-get install -y xvfb libxss1 libappindicator3-1 libindicator7 chromium-browser

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm install

      # - name: Run Lint
      #   run: npm run lint

      - name: Run Tests
        run: npm run test

      - name: List coverage files
        run: ls -l coverage/web-interface

      - name: Upload test report 
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: coverage/web-interface/index.html
